/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  background-image: url(img/background.png);

}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  background: url("img/site_background.jpg") repeat-y scroll left top #FFFFFF;
  margin: 30px auto;
  padding: 20px 0;
  width: 840px; 
  color: #4C4C4C;
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 20px;
}

.header {
  width: 800px;
  margin: 0 auto;
}

.header .logo {
  display: block;
  background: url(img/header.jpg);
  width: 100%;
  height: 150px;
  margin: 0 0;
}

.header div.nav {
  margin: 0 0;
  padding: 0;  
  background: none repeat scroll 0 0 #000000;
  height: 50px;
  width: 100%;
}

.header div.nav ul {
  list-style: none outside none;
  margin: 0 20px;
}

.header div.nav ul li {
  display: inline;
  background: url("img/nav_bullet.jpg") no-repeat scroll left 50% transparent;
  border: medium none;
  color: #FFFFFF;
  display: block;
  float: left;
  margin: 14px 30px 10px 0;
  padding: 0 0 0 12px;
  text-decoration: none;
}

.header div.nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.main {
    margin: 0 auto;
    overflow: auto;
    width: 800px;
}

.footer {
    width: 100%;
    margin-top: 2em;
    overflow: hidden;
}

.footer .inner {
  height: 50px;
  line-height: 50px;
  background: none repeat scroll 0 0 #000000;
  border-top: 1px solid #444444;
  margin: 0 20px;
  padding: 0 20px;

  color: #E5E5CC;
  font-size: 10px;
  text-transform: uppercase;
}

.footer .inner p {
  margin: 0;
}
.footer .inner .copyright {
  float: left;
}

.footer .inner .link {
  float: right;
  padding-left: 20px
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
