---
layout: default
title: Einsätze
---

{% if page.year %}
  {% assign liste_jahr = page.year %}
{% else %}
  {% assign liste_jahr = site.time | date:"%Y" %}
{% endif %}

<div class="left">
<h2>Navigation</h2>
<ul>
   {% assign letztes_jahr = '' %}
   {% for einsatz in site.categories.einsatz %}
     {% assign jahr = einsatz.datum | date: "%Y" %}
     {% unless letztes_jahr == jahr | times:1 %}
     {% assign this = liste_jahr | minus:jahr %}
	{% if this == 0 %}      
	<li>{{ jahr }}</a></li>
	{% else %}
	<li><a href="{{site.url}}/einsatz/{{jahr}}/">{{ jahr }}</a></li>
	{% endif %}
     {% endunless %}
     {% assign letztes_jahr = jahr %}
   {% endfor %}
</ul>
</div>


<div class="content">
	<h2>Einsätze {{liste_jahr}}</h2>
	
<table class="einsatz">
	<thead>
		<th>Nr.</th>
		<th>Datum</th>
		<th>Einsatzstichwort</th>
		<th>Einsatzort</th>
	</thead>
	<tbody>
{% assign nr = 0 %}
  {% for einsatz in site.categories.einsatz reversed %}
	{% assign this = einsatz.datum | date: "%Y" | minus:liste_jahr %}
        {% if this == 0 %}	
		{% assign nr = nr | plus:1 %}
		<tr class="{% cycle 'even', 'odd' %}">
			<td class="nobr">{{ nr }}</td>
			<td class="nobr">{{ einsatz.datum | date: "%d.%m.%Y %H:%M" }} </td>
			<td class="nobr">{{ einsatz.stichwort }}</td>
			<td>{{ einsatz.ort }}</td>
		</tr>
	{% endif %}
    {% endfor %}	
	</tbody>
</table>



{{ content }}
</div>


